@import "tailwindcss";/* Es la única directiva @tailwind que queda en v4 */

/* Si estás usando personalizaciones CSS-first (como @theme) */
/* Usa :root para definir variables CSS personalizadas */
:root {
  --image-home-img: url('/images/home-img.png');
}

/* Animation keyframes should be outside :root */
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.animation-appear {
  animation: appear 1s ease-in-out;
}
.animation-slide {
  animation: slide 0.75s ease-in-out;
}

.bg-home-img {
  background-image: var(--image-home-img);
}

.textWhite {
  color:aliceblue
}